/*ARTICULOS*/
.articulos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    padding: 10px;
    display: grid;
    justify-items: center;
    grid-template-areas:
        "titulo titulo titulo titulo"
        "img img img img"
        "img img img img";
    grid-gap: 1rem;
    
    h2{
        grid-area: titulo;
        font-size: 30px;
        font-family: titulo;
        text-shadow: 1px 1px 2px #fff;
        text-align: center;
        padding: 18px 0 5px 0;
    }
    .card{
        width: 20vw;
        border: 0.5px solid #3F1883;
        border-radius: 14px;
        text-align: center;
        background-color: rgba(121, 59, 192, 0.89);
        margin-bottom: 20px;
        
        &:hover{
            transform:scale(1.2);
        }
        .imagenArticulo{
            grid-area: img;
            width: 18vw;
            height: 22vh;
            border: 0.5px solid #3F1883;
            margin-right: auto;
            margin-left: auto;
            margin-top: 5px;
            border-radius: 10px;
            
            &:hover{
                transform:scale(1.1); 
            }
            
        }
        h3{
            font-size: 13px;
            font-family: retroTexto;
            color: #fff;
            text-shadow: 1px 1px 2px black;
            margin: 2px;
        }
        .btnComprar{
            border: 0.5px solid #000000;
            border-radius: 5px;
            padding: 5px 10px 5px 10px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-shadow: #3F1883 4px 4px 0px;
            font-family: retroTexto;
            background-image: linear-gradient(to right,#ffffff 50%,rgb(254, 240, 30) 50%);
            background-size: 200%;
            background-repeat: no-repeat;
            background-position: left;
            transition: transform 250ms, box-shadow 250ms, background-position .5s ease;
            
            &:hover{
                background-position: right;
            }
            
            &:active{
                transform: translateY(4px) translateX(4px);
                box-shadow:#3F1883 0px 0px 0px;
            }
        } 
        
    }

}
