
@media screen and (min-width:500px) and (max-width: 800px){
    
    .logo{
        height: 95px;
    }
    .principal h1{
            font-size: 70px; 
    }    
    .principal h2{
            grid-area: principal;
            font-size: 20px;
    }  
    .buscador{
        .input-group{
            .lupa{
                width: 2.5vw;
            }
        }
    }
    /*ARTICULOS*/
    .articulos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr;
        grid-template-areas:
            "titulo titulo titulo"
            "img img img"
            "img img img"
            "img img img";
        align-items: center;

        .card{
            width: 30vw;
            
            .imagenArticulo{
                width: 28vw;
                height: 20vh;
                
            &:hover{
                transform:scale(106%);
            }
            }
        &:hover{
            transform:scale(112%);
        }
        }
    }  
    /*FOOTER*/
    footer{
        grid-template-columns: none;
        justify-content: center;
        .redes{
            justify-content: center;
            margin-left: 0;
            article{
                text-align: center;
                div{
                    justify-content: center;
                }
            }
        }
        .contacto{
            justify-content: center; 
            article{
                text-align: center;
                div{
                    justify-content: center;
                }
            }
        }
    }
    .articulos h1,.seccionContacto h1,.articulos h2{
         font-size: 25px;
    }
    .label,.input,.texto{
          font-size: 14px;
    }

    /*VIDEO*/
    .ultima{
        .videosRelacionados{
            width:75vw;
            height:46.8vh;
            
            .youtube{
                width:75vw;
                height:45.4vh;
            }
        }
    }
}
@media only screen and (max-width: 500px){

    .logo{
        height: 90px;
    }
    .principal h1{
            font-size: 65px; 
    }    
    .principal h2{
            grid-area: principal;
            font-size: 15px;
    }    
    .buscador{
        .input-group{
                .lupa{
                    width: 3.5vw;
                }
        }
    }
    .articulos{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "titulo"
            "img"
            "img"
            "img"
            "img"
            "img"
            "img";
            align-items: center;
            
            .card{
                width: 60vw;
                
                .imagenArticulo{
                    width: 58vw;
                    height: 26vh;

                    &:hover{
                        transform:scale(104%);
                    }
                }
            &:hover{
                    transform:scale(108%);
            }
            }
    }  
   /*FOOTER*/
   footer{
        grid-template-columns: none;
        justify-content: center;
        .redes{
            justify-content: center;
            margin-left: 0;
            article{
                text-align: center;
                div{
                    justify-content: center;
                }
            }
        }
        .contacto{
            justify-content: center; 
            article{
                text-align: center;
                div{
                    justify-content: center;
                }
            }
        }
    }    
    .articulos h1,.seccionContacto h1,.articulos h2{
         font-size: 25px;
    }
    .label,.input,.texto{
          font-size: 14px;
    }
    .ultima{
        .videosRelacionados{
            width:85vw;
            height:36.8vh;
            .youtube{
            width:85vw;
            height:35.4vh;
            }  
        }
    } 
}
.suscripcion{
    font-size: 12px;
    p{
        font-size: 11px;
    }
}